ENV_NAME=dev
DJANGO_SECRET_KEY=
DEBUG=True
DB_NAME=isi_test_db.sqlite3
DJANGO_SETTINGS_MODULE=isi_test.settings.local
STATIC_URL=static
STATIC_ROOT=static
STATICFILES_DIRS=static
DEFAULT_SUPERUSER_EMAIL=
DEFAULT_SUPERUSER_PASSWORD=